body{
    background-color: #F4F4F2;
    font-family: Arial, Helvetica, sans-serif;
}
.plate{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 705px;
}
.introduction{
    display: inline-block;
    background-color: #E8E8E8;
    padding: 50px 50px;
    box-shadow: -5px 15px 35px -5px #BBBFCA;
    width: 600px;
    height: 300px;
    padding: 0px 0px;
}
.grid-container {
display: grid;
grid-template-columns: 1fr 250px;
padding: 10px;
padding: 0px 0px;
}
.me-photo{
    height: 100%;
    width: 100%;
}
.start-text{
    display: grid;
    grid-template-columns: 1fr;
    height: 20px;
    row-gap: 2px;
    padding-left: 15px;
}
.start-text p{
    margin: 0px;
}
.my-name{
    height: 40px;
}
.social-media{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 30px;
    padding-right: 170px;
    column-gap: 30px;
}
.social-media button img{
    height: 30px;
}
.social-media button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 0;
}
.about{
    background-color: #EB6440;
}
